.button {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px;
  width: 156px;
  height: 44px;
  display: block;
  margin: 0 auto;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  transition: border 0.3s ease;
}

.button:hover,
.button:focus {
  border: 1px solid var(--button-hover);
}
