.carImg {
  object-fit: cover;
  border-radius: 14px;
  width: 100%;
  height: 100%;
}

.imgWrapper {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  height: 268px;
  border: none;
  margin-bottom: 16px;
}

.imgWrapper::after {
  content: '';
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );
  z-index: 1;
}

.btnFavorite {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  width: 18px;
  height: 18px;
  padding: 1px;
  border: none;
  background: transparent;
  transform: scale 0.3s ease;
}

.svgFavorite {
  width: 16px;
  height: 16px;
  /* z-index: 110; */
  fill: var(--button);
}

.btnFavorite:hover,
.btnFavorite:focus {
  scale: 130%;
}

.brandModelBlock {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  color: var(--main);

  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.carModel {
  color: var(--button);
}

.carPropertiesList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 4px;
  justify-content: flex-start;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;

  line-height: 1.33;
  color: var(--gray);
  margin-bottom: 28px;
}

.carPropertiesItem {
  flex: 0 0 auto;
  position: relative;
}

.carPropertiesBreak {
  flex-basis: 100%;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.carPropertiesItem:not(:last-child)::after {
  content: '';
  position: absolute;

  width: 1px;
  height: 16px;
  background-color: var(--gray-light);
  top: 0;
  left: calc(100% + 6px);
  transform: rotate(-180deg);
}
