.selectGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;

  line-height: 1.33;
  color: var(--gray);
  margin-bottom: 8px;
}

.select {
  width: var(--w);
  border-radius: 12px;
  border: none;
  padding: 12px 32px 12px 16px;
  background-color: var(--inputs);
  opacity: 0.4;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main);
  cursor: pointer;
}

.select select {
  color: var(--main);
}

.select::placeholder {
  color: var(--gray);
}

.select:focus {
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background-color: var(--white);
}

.select option {
  color: var(--main);
}
