.title {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}
