:root {
  /* кольори, що використовуються в проекті */
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --background: var(--white);
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--main);
  background-color: var(--background);
  font-family: var(--font-family), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
