.wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1.5rem;
  color: var(--gray);
}

.carSvg {
  fill: var(--button);
}

.link {
  padding: 0.5rem 1.5rem;
  color: var(--button);
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  scale: 1;
  transform:
    color 0.3s ease,
    scale 0.3s ease;
}

.link:hover,
.link:focus {
  color: var(--button-hover);
  scale: 110%;
}
