.carList {
  display: flex;
  column-gap: 32px;
  row-gap: 48px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.carItem {
  width: calc((100% - 3 * 32px) / 4);
  height: auto;
}

.message {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}
